<div>
    <main role="main">
        <header class="">
            <div class="s-12 padding-2x">
                <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-1">CONTATE-NOS</h1>
            </div>
        </header>

        <section class="contact-us" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 align-self-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="contact" action="" method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2>vamos entrar em contato</h2>
                                        </div>
                                        <div class="col-lg-4">
                                            <fieldset>
                                                <input name="name" type="text" id="name" placeholder="SEU NOME...*" required="">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-4">
                                            <fieldset>
                                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="SEU EMAIL..." required="">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-4">
                                            <fieldset>
                                                <input name="subject" type="text" id="subject" placeholder="ASSUNTO...*" required="">
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <textarea name="message" type="text" class="form-control" id="message" placeholder="SUA MENSAGEM..." required=""></textarea>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="button">ENVIAR MENSAGEM AGORA</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="right-info">
                            <ul>
                                <li>
                                    <h6>Número de telefone</h6>
                                    <span>(+244) 935 787 111</span>
                                </li>
                                <li>
                                    <h6>Endereço de email</h6>
                                    <span>geral@rojeca.com</span>
                                </li>
                                <li>
                                    <h6>Endereço</h6>
                                    <span>  
                      Luanda – Angola. 
                      </span>
                                </li>
                                <li>
                                    <h6>Horário</h6>
                                    <span>08H00 às 15H00 <br>
                      Segunda à sexta
                      </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
</div>