<div>
    <!-- MAIN  SEMPRE AO SEU DISPOR->
    <main role="main">
        <!-- TOP SECTION -->

    <!-- Main Carousel -->
    <section class="spacos">

        <div class="slider">
            <div class="swiper mySlider">
                <div class="swiper-wrapper fundo-cor">

                    <div class="swiper-slide">
                        <div class="slide-content ">
                            <img src="./assets/img/carousel-04.jpg">
                            <div class="jms s-12 m-7 l-7">
                                <p class="text-padding text-strong text-white text-s-size-30 text-size-60 background-primary" data-aos="zoom-in-down">
                                    Exploração Mineral</p>
                                <br>
                                <p class="text-padding text-size-20 text-dark background-white" data-aos="fade-right">
                                    Realizamos extração e valorização de recursos minerais com eficiência, segurança e responsabilidade ambiental.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-content ">
                            <img src="./assets/img/carousel-03.jpg">
                            <div class="jms s-12 m-7 l-7">
                                <p class="text-padding text-strong text-white text-s-size-30 text-size-60 background-primary" data-aos="zoom-in-down">
                                    Exploração Mineral</p>
                                <br>
                                <p class="text-padding text-size-20 text-dark background-white" data-aos="fade-right">
                                    Realizamos extração e valorização de recursos minerais com eficiência, segurança e responsabilidade ambiental.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-content">
                            <img src="./assets/img/carousel-02.jpg" alt="">
                            <div class="jms s-12 m-7 l-7">
                                <p class="text-padding text-strong text-white text-s-size-30 text-size-60  background-primary" data-aos="zoom-in-down">
                                    Agricultura Sustentável</p>
                                <br>
                                <p class="text-padding text-size-20 text-dark  background-white">
                                    Implementamos projetos agrícolas produtivos, com técnicas modernas e uso responsável dos recursos naturais.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slide-content">
                            <img src="./assets/img/carousel-01.jpg" alt="">
                            <div class="jms s-12 m-7 l-7">
                                <p class="text-padding text-strong text-white text-s-size-30 text-size-60  background-primary" data-aos="zoom-in-down">
                                    Desenvolvimento Rural</p>
                                <br>
                                <p class="text-padding text-size-20 text-dark  background-white">
                                    Fortalecemos comunidades rurais através de capacitação, apoio técnico e soluções agrícolas eficientes.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- BOTÕES -->
            <div class="slider-buttons">
                <button class="btn prev">&#10094;</button>
                <button class="btn next">&#10095;</button>
            </div>
        </div>

    </section>

    <!-- Main Carousel -->

    <!-- SECTION 0  AEROPORTOS -->
    <section class="grid margin itens">

        <div class="s-12 m-6 padding margin-bottom itens-2 font-B" data-aos="fade-right">
            <h2 style="padding: 1.25rem 0rem " class="text-strong text-size-50 text-line-height-1 font-A ">Cultivamos progresso. Extraímos valor. Construímos futuro.
            </h2>

            ROJECA é uma empresa multidisciplinar que atua nos setores de agricultura, exploração mineira, consultoria e prestação de serviços, oferecendo soluções integradas, sustentáveis e orientadas para resultados.
            <br> Trabalhamos com foco no desenvolvimento económico, na valorização dos recursos naturais e no apoio técnico especializado a empresas, comunidades e instituições públicas e privadas.
            <br> <br> mprometemo-nos com a eficiência, a sustentabilidade e a geração de impacto positivo, contribuindo para o crescimento sólido e duradouro dos nossos parceiros.

            <div class="s-12 " style="padding: 1.25rem 0rem ">
                <a href="#/sobre" class="s-12 m-9   button text-size-20 text-white background-red">SABER MAIS </a>
            </div>
        </div>

        <!-- Image-->
        <img class="s-12 m-6 margin-bottom itens-1" data-aos="fade-left " src="./assets/img/sobre.png">

    </section>


    <!-- SECTION 4 -->

    <section class="margin-top-50 background-white padding-2x">
        <div class="line text-center">
            <h2 class="text-dark text-size-50 text-m-size-40">O que podemos fazer <b>por você </b></h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
        </div>
        <div class="line">
            <div class="margin2x">

                <div class="s-12 m-6 l-4 margin-m-bottom-60">
                    <div class="float-left">
                        <div class="icon agri">🌾</div>
                    </div>
                    <div class="margin-left-60">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Agricultura</h3>
                        <p>Produção agrícola inteligente com tecnologia moderna, sustentabilidade e alto desempenho.
                        </p>
                        <a class="text-more-info text-primary margin-left-20" target="_blank " href="#/agricultura ">Ler
                      mais</a>
                    </div>
                </div>

                <div class="s-12 m-6 l-4 margin-m-bottom-60 ">
                    <div class="float-left ">
                        <!-- Ship icon by Icons8 -->
                        <div class="icon mine ">⛏️</div>
                    </div>
                    <div class="margin-left-60 ">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark ">Exploração Mineira</h3>
                        <p>Exploração mineral segura, inovação e compromisso ambiental, garantindo eficiência operacional.
                        </p>
                        <a class="text-more-info text-primary margin-left-20 " target="_blank" href="#/minas">Ler mais
                        </a>
                    </div>
                </div>
                <div class="s-12 m-6 l-4 margin-m-bottom-60">
                    <div class="float-left">
                        <div class="icon consult">📊</div>
                    </div>
                    <div class="margin-left-60">
                        <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Consultoria</h3>
                        <p> Planejamento estratégico e soluções empresariais para crescimento sustentável.
                        </p>

                        <a class="text-more-info text-primary margin-left-20" target="_blank " href=" ">Ler
                      mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- SECTION 1 -->
    <section class="grid section margin-bottom " data-aos="zoom-in-up ">

        <h2 class="s-12 l-6 center text-strong text-size-50 text-line-height-1 margin-bottom-30 font-A ">Cultivamos progresso.</h2>

        <p class="s-12 l-6 center font-B ">
            ROJECA é uma empresa multidisciplinar que atua nos setores de agricultura, exploração mineira, consultoria e prestação de serviços, oferecendo soluções integradas, sustentáveis e orientadas para resultados. Trabalhamos com foco no desenvolvimento económico,
            na valorização dos recursos naturais e no apoio técnico especializado a empresas, comunidades e instituições públicas e privadas.
        </p>
    </section>

    <!-- SECTION 2 -->
    <section class="grid margin text-center itens ">

        <a href="/ " class="s-12 m-6 l-6 padding-2x vertical-center margin-bottom object " style="background-color: rgba(138, 63, 7, 0.9); ">
            <h2 class="s-12 l-12 center text-thin text-size-30 text-white text-uppercase margin-bottom-30 ">Nossos Objectivos
            </h2>
            <p class=" text-white ">Contribuir para o desenvolvimento económico sustentável por meio da atuação integrada nos sectores da agricultura, exploração mineira, consultoria e prestação de serviços, garantindo excelência técnica, conformidade legal, responsabilidade
                ambiental e geração de valor a longo prazo para clientes, parceiros e comunidades. </p>
        </a>

        <!-- Image-->
        <img class="m-12 l-6 l-row-2 margin-bottom object " src="./assets/img/geral2.jpg ">

        <!-- Image-->
        <img class="m-12 l-6 l-row-2 margin-bottom object " src="./assets/img/geral5.jpg ">

        <a href="/ " class="s-12 m-6 l-6 padding-2x vertical-center margin-bottom background-red object ">
            <h2 class="s-12 l-12 center text-thin text-size-30 text-white text-uppercase margin-bottom-30 ">
                Sustentabilidade</h2>
            <p class=" ">
                Promover a proteção e valorização do meio ambiente através de práticas responsáveis e sustentáveis na agricultura, exploração mineira, consultoria e prestação de serviços, assegurando o uso racional dos recursos naturais, o cumprimento das normas ambientais
                e o desenvolvimento equilibrado das comunidades.

            </p>
        </a>
        <!-- Image-->




    </section>

    <!-- SECTION 3 -->

    <section class="grid ">
        <h2 class="s-12 text-thin text-size-30 text-red text-uppercase margin-top-bottom-40 center text-center ">
            Razões Para Trabalhar <b>Conosco </b></h2>


        <div class="m-12 l-4 padding-2x ">
            <div class="float-left ">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 "> Crescimento</h3>
                <p class="margin-bottom-30 " data-aos="zoom-in-up ">
                    Trabalhamos para que o crescimento da oferta de produtos nacional seja uma realidade .
                </p>

                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 ">Compromisso com Resultados</h3>
                <p class=" " data-aos="zoom-in-up ">
                    Focamos em eficiência, produtividade e geração de valor sustentável.
                </p>
            </div>
        </div>

        <div class="m-12 l-4 margin-bottom-60 padding-2x ">
            <div class="float-left ">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 ">Sustentabilidade</h3>
                <p class="margin-bottom-30 " data-aos="zoom-in-up ">
                    Promovemos o uso responsável dos recursos naturais e o respeito pelo meio ambiente.
                </p>
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 ">Foco em Resultados</h3>
                <p data-aos="zoom-in-up ">
                    Trabalhamos com metas claras, eficiência operacional e compromisso com a entrega de resultados concretos.
                </p>
            </div>
        </div>

        <div class="m-12 l-4 margin-bottom-60 padding-2x ">
            <div class="float-left ">
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 ">Parcerias de Confiança</h3>
                <p class="margin-bottom-30 " data-aos="zoom-in-up ">
                    Construímos relações sólidas baseadas em transparência, ética e profissionalismo.
                </p>
                <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 ">Equipa Qualificada</h3>
                <p data-aos="zoom-in-up ">
                    Contamos com profissionais experientes e tecnicamente preparados.
                </p>
            </div>
        </div>
    </section>



    <!-- Section 6 -->
    <section class="section background-image " style="background-image:url(./assets/img/geral6.jpg) ">
        <div class="line ">
            <div class="s-12 m-6 l-6 ">

                <h2 class="text-white text-extra-strong text-size-50 text-m-size-40 margin-bottom-40 ">Entre em Contacto
                    <span class="text-primary ">Connosco</span>
                </h2>
                <p class="text-white text-size-20 margin-bottom-30 ">
                    Estamos prontos para analisar o seu projeto e apresentar soluções eficientes e sustentáveis.
                </p>
                <a class="button text-white background-red text-size-20 " href="#/contato ">Fale com um Especialista</a>
            </div>
        </div>
    </section>





    <!-- SECTION 5 -->
    <section class="grid margin text-center ">
        <div class="m-12 l-4 padding-2x background-dark margin-bottom text-right ">
            <h3 class="text-strong text-size-25 text-uppercase margin-bottom-10 ">VAMOS MANTER CONTATO</h3>
            <p>Siga-nos nas redes sociais e fique por dentro de todas as nossas ações.</p>
        </div>
        <a href="https://web.facebook.com/profile.php?id=61554309039479 " class="s-12 m-6 l-2 padding vertical-center margin-bottom facebook hover-zoom ">
            <i class="icon-sli-social-facebook text-size-60 text-white center "></i>
        </a>
        <a href="https://www.instagram.com/jmdo_oficial/ " class="s-12 m-6 l-2 padding vertical-center margin-bottom instagram hover-zoom ">
            <i class="icon-sli-social-instagram text-size-60 text-white center "></i>
        </a>
        <a href="https://www.youtube.com/channel/UCD_Ys3uFPebB2w6efLOo6TQ " class="s-12 m-6 l-2 padding vertical-center margin-bottom youtube hover-zoom ">
            <i class="icon-sli-social-youtube text-size-60 text-white center "></i>
        </a>
        <a href="https://www.linkedin.com/in/joaquim-mucanda-despachante-oficial-4507422a4/ " class="s-12 m-6 l-2 padding vertical-center margin-bottom linkedin hover-zoom ">
            <i class="icon-sli-social-linkedin text-size-60 text-white center "></i>
        </a>
    </section>

    </main>
</div>