<div>
    <!-- MAIN -->



    <main role="main">
        <!-- TOP SECTION -->
        <header class="grid agricultura-fundo ">
            <div class="s-12 padding-2x margin-top-50 m-12 l-7">
                <h1 class="text-strong text-white  text-size-60 text-uppercase margin-bottom-20" data-aos="fade-right">AGRICULTURA
                </h1>
                <p class="text-size-20 text-white " data-aos="fade-up">
                    Soluções integradas para gestão agrícola, fornecimento de máquinas e insumos, com projetos personalizados, equipa especializada e foco em produtividade e sustentabilidade.
                </p>
            </div>
        </header>



        <!-- SECTION 1 -->
        <section class="grid">
            <div class="m-12 l-7 padding-2x margin-top-50  ">

                <h2 class="text-size-50 text-line-height-1 text-dark"><b>
                  Invista no agronegócio de Angola</b></h2>

                <p>Na ROJECA, oferecemos soluções integradas e inovadoras para o setor agrícola, abrangendo desde a gestão eficiente de fazendas até o fornecimento de máquinas, equipamentos e insumos de alta qualidade. Desenvolvemos projetos personalizados
                    que atendem às necessidades específicas de cada cliente, combinando tecnologia, conhecimento técnico e práticas sustentáveis.</p>
                <p>Nossa equipa de especialistas altamente qualificados acompanha todas as etapas, garantindo aumento da produtividade, otimização de recursos e respeito ao meio ambiente, ajudando produtores e empresas a alcançar resultados consistentes
                    e duradouros no mercado agrícola.</p>

            </div>

            <!-- Image-->
            <div class="m-12 l-5 padding-2x margin-top-50 ">
                <img src="assets/img/servicos-03.jpg">
            </div>
        </section>




        <section class="margin-top-50 background-white padding-2x">
            <div class="line text-center">
                <h2 class="text-dark text-size-50 text-m-size-40">O que podemos fazer <b>por você </b></h2>
                <hr class="break background-primary break-small break-center margin-bottom-50">
            </div>
            <div class="line">
                <div class="margin2x">
                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-plantio-manual-100.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Logística Agrícola</h3>
                            <p> Apoiamos produtores na gestão estratégica de estoque, planejamento da produção e previsão de demanda, garantindo eficiência, redução de desperdícios e produtos sempre disponíveis no mercado.
                            </p>

                        </div>
                    </div>
                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-logística-96.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Transportes Eficientes e Seguros</h3>
                            <p> Conectamos produtores, transportadoras e compradores, facilitando a negociação e organização do transporte de produtos agrícolas de forma rápida, prática e eficiente.
                            </p>

                        </div>
                    </div>
                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-logística.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Rastreamento e Monitoramento de Cargas</h3>
                            <p>
                                Utilizamos tecnologias avançadas para acompanhar a localização e o estado das cargas em tempo real, garantindo maior segurança, visibilidade e tranquilidade durante todo o transporte.
                            </p>

                        </div>
                    </div>


                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-trator-64.png">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Planejamento de Demanda</h3>
                            <p>Apoiamos os produtores na gestão estratégica do estoque e na previsão da demanda do mercado, otimizando recursos, evitando desperdícios e assegurando produtos sempre disponíveis.
                            </p>

                        </div>
                    </div>
                    <div class="s-12 m-6 l-4 margin-m-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-fazendeira-64.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Venda e Crédito para Zungueiras</h3>
                            <p>Desenvolvemos soluções adaptadas à realidade local das zungueiras em Angola, superando barreiras como o acesso limitado a serviços bancários e oferecendo suporte inclusivo, acessível e sustentável para impulsionar suas atividades
                                comerciais.
                            </p>

                        </div>
                    </div>




                </div>
            </div>
        </section>




        <!-- Section 6 -->
        <section class="section background-image" style="background-image:url(./assets/img/geral6.jpg)">
            <div class="line">
                <h2 class="text-white text-extra-strong text-size-50 text-m-size-40 margin-bottom-40">Contribuido para o

                    <span class="text-primary">desenvolvimento do país</span>
                </h2>
                <p class="text-white text-size-20 margin-bottom-30 ">
                    Oferecemos soluções adaptadas a todos os sectores Industriais: Alimentação e Perecíveis, Bebidas, Construção, Energias Renováveis, Eventos, Hotelaria e Turismo, Indústria de Gás e Petróleo, Moda e Têxteis, Tecnologias, entre outros.
                </p>
                <p class="text-white text-handwrite text-size-30 margin-bottom-20">Você precisa de ajuda?</p>
                <a class="button text-white background-red text-size-20" href="#/contato">Entre em contato com nossa equipe</a>
            </div>
        </section>



    </main>

</div>