<div>
    <!-- MAIN -->



    <main role="main">
        <!-- TOP SECTION -->
        <header class="grid minas-fundo ">

            <div class="s-12 padding-2x margin-top-50 m-12 l-7">
                <h1 class="text-strong text-white  text-size-60 text-uppercase margin-bottom-20" data-aos="fade-right">Exploração Mineira
                </h1>
                <p class="text-size-20 text-white " data-aos="fade-up">
                    Exploramos recursos minerais com tecnologia, segurança e sustentabilidade, gerando valor para o futuro.
                </p>
            </div>
        </header>



        <!-- SECTION 1 -->


        <section class="grid">
            <div class="m-12 l-7 padding-2x margin-top-50  ">

                <h2 class="text-size-50 text-line-height-1 text-dark "><b>
                 Explorando Recursos com Tecnologia, Segurança e Sustentabilidade</b></h2>

                <p>A ROJECA atua como uma base sólida na exploração de recursos minerais, integrando tecnologia avançada, práticas seguras e métodos sustentáveis. Seu papel é fornecer infraestrutura, conhecimento e processos que tornam a extração mais eficiente,
                    responsável e alinhada com os princípios de proteção ambiental.
                    <br>
                    <p>Nossa equipa de especialistas altamente qualificados acompanha todas as etapas, garantindo aumento da produtividade, otimização de recursos e respeito ao meio ambiente, ajudando produtores e empresas a alcançar resultados consistentes
                        e duradouros no mercado agrícola.</p>
            </div>

            <!-- Image-->
            <div class="m-12 l-5 padding-2x margin-top-50 ">
                <img src="assets/img/recursos-geologicos.jpg">
            </div>
        </section>





        <section class="margin-top-50 background-white padding-2x">
            <div class="line text-center">
                <h2 class="text-dark text-size-50 text-m-size-40">O que podemos fazer <b>por você </b></h2>
                <hr class="break background-primary break-small break-center margin-bottom-50">
            </div>
            <div class="line">
                <div class="margin2x">
                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-mineral-100.png">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Prospecção Mineral</h3>
                            <p> Estudos geológicos e identificação de jazidas minerais com tecnologia avançada.
                            </p>

                        </div>
                    </div>

                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-perfuração-100.png">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Perfuração e Amostragem</h3>
                            <p>Perfuração técnica e análise de amostras para avaliação de viabilidade econômica.
                            </p>

                        </div>
                    </div>

                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="icon icons8-Ship" src="./assets/icon/icons8-mineiro-103.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Reabilitação de Áreas Mineradas</h3>
                            <p>Recuperação ambiental de áreas exploradas, com reflorestamento, controle de erosão e cumprimento das normas ambientais vigentes.
                            </p>

                        </div>
                    </div>

                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="icon icons8-Ship" src="./assets/icon/icons8-mineiro-101.png" width="64" height="64">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Desmonte e Detonação Controlada</h3>
                            <p>Execução de planos de desmonte com explosivos industriais, seguindo rigorosos padrões de segurança e eficiência operacional.
                            </p>
                        </div>
                    </div>

                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-mineiro-102.png">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Consultoria Mineira</h3>
                            <p>
                                Planejamento estratégico e suporte técnico para projetos de mineração.
                            </p>

                        </div>
                    </div>

                    <div class="s-12 m-6 l-4 margin-bottom-60">
                        <div class="float-left">
                            <img class="agri icon icons8-Ship" src="./assets/icon/icons8-meu-carrinho-100.png">
                        </div>
                        <div class="margin-left-60">
                            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-20 text-dark">Gestão Ambiental</h3>
                            <p>Implementamos programas completos de gestão ambiental, para garantir que todas as operações mineiras sejam realizadas de forma sustentável
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </section>




    </main>

</div>