<div>
  <!-- MAIN -->
  <main role="main">
    <!-- TOP SECTION -->
    <header class="grid">
      <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Nossa galeria</h1>
        <p class="text-size-20 text-white text-center center text-uppercase">Alguns dos nossos trabalho no campo de IMPORTAÇÕES e EXPORTAÇÕES de cargas.<br> Trabalhando para o seu melhor .</p>
      </div>
    </header>
  
    <section class="grid margin">
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-1.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-2.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-3.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-11.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-4.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-9.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-5.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-7.jpg" alt=""/>
      <img class="s-12 m-6 margin-bottom" src="assets/img/portfolio/thumb-8.jpg" alt=""/>
    </section>
    
  </main>
  
</div>