  /*   servicos lista*/
  
  .icon {
      font-size: 60px;
      margin-bottom: 20px;
  }
  
  .btn {
      display: inline-block;
      padding: 12px 28px;
      border-radius: 30px;
      background: linear-gradient(90deg, #00f260, #0575e6);
      color: white;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s;
  }
  
  .btn:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 25px rgba(0, 242, 96, 0.4);
  }
  /* CORES DOS ÍCONES */
  
  .agri {
      color: #00f260;
  }
  
  .mine {
      color: #ffb347;
  }
  /*   Slider */
  
  body {
      margin: 0;
      background: #0b1324;
      font-family: Arial, sans-serif;
  }
  
  .slider {
      position: relative;
      width: 100%;
      height: 100vh;
  }
  
  .swiper {
      width: 100%;
      height: 100%;
  }
  
  .slide-content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
  
  .slide-content img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 6s ease;
  }
  
  .swiper-slide-active img {
      transform: scale(1.2);
  }
  
  .text {
      position: absolute;
      top: 30%;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 20px 25px;
      border-radius: 6px;
      max-width: 400px;
  }
  
  .jms {
      position: absolute;
      top: 50%;
  }
  
  .text h2 {
      margin: 0 0 8px;
  }
  /* BOTÕES */
  
  .slider-buttons {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 15px;
      z-index: 10;
  }
  
  .slider-buttons .btn {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: none;
      background: #0b1324;
      color: #fff;
      font-size: 26px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s, transform 0.2s;
  }
  
  .slider-buttons .btn:hover {
      background: #111c3a;
      transform: scale(1.05);
  }
  /*  fim  Slider */
  
  .font-A {
      color: #287604;
  }
  
  .font-B {
      color: #272727;
  }
  
  .justify-123 {
      text-align: justify
  }
  
  .offset-123 {
      margin-left: 20px;
  }
  
  .spacos {
      padding-bottom: 2%;
  }
  /*   modal para servicos */
  
  .jlsrow {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--bs-gutter-y));
      margin-right: calc(-.5 * var(--bs-gutter-x));
      margin-left: calc(-.5 * var(--bs-gutter-x))
  }
  
  .lbox {
      /*   visibility: hidden; */
      display: none;
      opacity: 0;
      padding: 0px 100px 0px 100px !important;
  }
  
  .lbox:target {
      /*   visibility: visible */
      display: flex;
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(10, 10, 10, .9);
      position: fixed;
      z-index: 19999;
  }
  
  .servicos {
      width: 100%;
      min-width: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .box-pdf {
      width: 100%;
      height: 600px;
      background-color: #fff;
      box-shadow: 5px 5px 15px -1px #ccc;
  }
  
  .btn2 {
      margin: 0px 7% auto;
      display: flex;
      flex-direction: row-reverse;
      font-family: 'Arial';
      text-decoration: none;
  }
  
  .tamanhoCard {
      top: 0%;
      left: 0%;
  }
  /* 
---------------------------------------------
servicos
--------------------------------------------- 
*/
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body,
  html {
      height: 100%;
  }
  
  .agricultura-fundo {
      position: relative;
      height: 70vh;
      background-image: url("./../img/carousel-02.jpg");
      /* troca aqui */
      background-size: cover;
      background-position: center;
      overflow: hidden;
  }
  /* Borrão verde degradê embaixo */
  
  .agricultura-fundo::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient( to top, rgba(0, 150, 0, 0.9), rgba(0, 150, 0, 0.5), transparent);
      filter: blur(25px);
  }
  
  .minas-fundo {
      position: relative;
      height: 70vh;
      background-image: url("./../img/geral2.jpg");
      /* troca aqui */
      background-size: cover;
      background-position: center;
      overflow: hidden;
  }
  /* Borrão verde degradê embaixo */
  
  .minas-fundo::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient( to top, rgba(146, 65, 3, 0.9), rgba(54, 17, 0, 0.5), transparent);
      filter: blur(25px);
  }
  
  .fundo-cor::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient( to top, rgba(0, 150, 0, 0.9), rgba(0, 150, 0, 0.5), transparent);
      filter: blur(25px);
  }
  /* 
---------------------------------------------
fim servicos
--------------------------------------------- 
*/
  /* 
---------------------------------------------
contact us
--------------------------------------------- 
*/
  
  section.contact-us {
      background-image: url(../images/meetings-bg.jpg);
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 140px 0px 0px 0px;
  }
  
  section.contact-us #contact {
      background-color: #fff;
      border-radius: 20px;
      padding: 40px;
  }
  
  section.contact-us #contact h2 {
      text-transform: uppercase;
      color: #1f272b;
      border-bottom: 1px solid #eee;
      margin-bottom: 40px;
      padding-bottom: 20px;
      font-size: 22px;
      font-weight: 700;
  }
  
  section.contact-us #contact input {
      width: 100%;
      height: 40px;
      border-radius: 20px;
      background-color: #f7f7f7;
      outline: none;
      border: none;
      box-shadow: none;
      font-size: 13px;
      font-weight: 500;
      color: #7a7a7a;
      padding: 0px 15px;
      margin-bottom: 30px;
  }
  
  section.contact-us #contact textarea {
      width: 100%;
      min-height: 140px;
      max-height: 180px;
      border-radius: 20px;
      background-color: #f7f7f7;
      outline: none;
      border: none;
      box-shadow: none;
      font-size: 13px;
      font-weight: 500;
      color: #7a7a7a;
      padding: 15px;
      margin-bottom: 30px;
  }
  
  section.contact-us #contact button {
      font-size: 13px;
      color: #fff;
      background-color: #287604 !important;
      padding: 12px 30px;
      display: inline-block;
      border-radius: 22px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all .3s;
      border: none;
      outline: none;
  }
  
  section.contact-us #contact button:hover {
      opacity: 0.9;
  }
  
  section.contact-us .right-info {
      background-color: #287604 !important;
      border-radius: 20px;
      padding: 40px;
  }
  
  section.contact-us .right-info ul li {
      display: inline-block;
      border-bottom: 1px solid rgba(250, 250, 250, 0.15);
      margin-bottom: 30px;
      padding-bottom: 30px;
  }
  
  section.contact-us .right-info ul li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
  }
  
  section.contact-us .right-info ul li h6 {
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  section.contact-us .right-info ul li span {
      display: block;
      font-size: 18px;
      color: #fff;
      font-weight: 700;
  }
  
  section.contact-us #contact {
      margin-bottom: 30px;
  }
  
  .icons-atua {
      width: 80px;
  }
  
  .object {
      width: 100%;
      height: 350px;
  }
  
  .menu-principal {
      background-color: rgb(56, 56, 56);
  }
  
  .menu-barra {
      width: 100%;
      height: 10px;
      background-color: #198754;
      top: 40px;
  }
  
  @media screen and (max-width:569px) {
      .slider-buttons {
          position: absolute;
          right: 10px;
          top: 40%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          gap: 15px;
          z-index: 10;
      }
      .menu-principal {
          height: 80px;
      }
      .menu-barra {
          width: 100%;
          height: 11px;
          background-color: #198754;
          top: 70%;
      }
      .slide-content img {
          height: 80%;
      }
      .jms {
          position: absolute;
          top: 65%;
      }
      .itens {
          display: flex;
          flex-direction: column;
      }
      .itens-1 {
          order: 2;
      }
      .itens-2 {
          order: 1;
      }
      .icons-atua {
          width: 30px;
      }
  }