<div>
    <!-- FOOTER -->
    <footer class="grid">
        <!-- Footer - top -->
        <!-- Image-->
        <div class="s-12 l-3 m-row-3 margin-bottom background-image">
            <img class="s-12 m-6 margin-bottom itens-1" data-aos="fade-left " src="./assets/img/sobre.png">
        </div>

        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">NOSSO FOCO?</h2>
            <p>
                Trabalhamos com foco em segurança, inovação tecnológica e responsabilidade ambiental. .
            </p>
        </div>

        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">ONDE ESTAMOS?</h2>
        </div>

        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
            <h2 class="text-strong text-uppercase">Contate-nos</h2>
            <p><b class="text-primary margin-right-10">TEL</b>(+244) 935 787 111</p>
            <p><b class="text-primary margin-right-10">E-MAIL</b> <a class="text-primary-hover" href="mailto:geral@rojeca.com">geral@rojeca.com</a></p>
        </div>

        <!-- Footer - bottom -->
        <div class="s-12 text-center margin-bottom">
            <p class="text-size-16">Copyright 2023, ROJECA Lda - Todos direitos reservados.</p>
            <p><a class="text-size-14 text-primary-hover" href="https://h-jlsystem.com/" title="Responsee - lightweight responsive framework">Desenvolvido por JMSystem</a></p>
        </div>
    </footer>
</div>