<div>
    <!-- MAIN -->
    <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
            <div class="s-12 padding-2x">
                <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Sobre Nós
                </h1>
                <p class="text-size-20 text-white text-center center text-uppercase">
                    Prestamos serviços de Despachos Aduaneiros, recebimento e conferencia de carga <br> (carregamento e descarregamento de carga) sendo a escolha por opção do cliente
                </p>
            </div>
        </header>


        <!-- SECTION 1 -->
        <section class="grid">
            <div class="m-12 l-6 padding-2x background-white">
                <h2 class="text-dark">Cultivamos progresso. Extraímos valor. Construímos futuro.</h2>
                <p class=" justify-12">
                    A ROJECA é uma empresa multidisciplinar que atua nos setores de agricultura, exploração mineira, consultoria e prestação de serviços, oferecendo soluções integradas, sustentáveis e orientadas para resultados.
                </p>
                <p class=" justify-12">
                    Com uma abordagem estratégica e inovadora, trabalhamos para impulsionar o desenvolvimento económico, promover a valorização responsável dos recursos naturais e fornecer apoio técnico especializado a empresas, comunidades e instituições públicas e privadas.
                </p>
                <br>
                <p class=" justify-12">
                    Comprometemo-nos com a eficiência, a sustentabilidade e a geração de impacto positivo, contribuindo para o crescimento sólido e duradouro dos nossos parceiros.
                </p>
            </div>

            <!-- Image-->
            <div class="l-6 hide-s hide-m background-white">
                <img class=" hide-s hide-m" src="assets/img/jmdo/4.jpeg">
            </div>
        </section>

        <!-- SECTION 2 -->
        <section class="grid margin margin-bottom padding-2x background-primary">

            <div class="s-12 m-6 l-4">
                <span class="timer text-size-50 text-white text-strong">Missão</span>
                <p class="text-size-16 margin-m-bottom-20 justify-123">
                    Prestar serviços aos nossos clientes (empresa e organizações) com eficiência, responsabilidade e integridade garantindo sigilo profissional e satisfazendo as suas mais altas expectativas cumprindo com os prazos assumidos e contribuir para o sucesso dos
                    seus negócios tornando-os mais produtivos e lucrativos, através do fornecimento de informações e demostrações financeiras relevantes para a tomada de decisão racional por parte dos seus gestores, observando a legislação em vigor para
                    cada caso.
                </p>
            </div>

            <div class="s-12 m-6 l-4">
                <span class="timer text-size-50 text-white text-strong">Visão</span>
                <p class="text-size-16 margin-m-bottom-20 justify-123">
                    Ser a melhor opção de prestador de serviços a nível nacional e internacional voltado à liberação alfandegária (emissão de documentos, transporte internacional, transporte local, etc.) para o mercado de comércio exterior na chegada ou saída de mercadorias
                    nos Portos, Aeroportos e Fronteiras do país, sempre combinando agilidade, flexibilidade, qualidade e a garantia da satisfação de nossos clientes.
                </p>
            </div>

            <div class="s-12 m-6 l-4">
                <span class="timer text-size-50 text-white text-strong">Valores</span>

                <p class="text-size-16 margin-m-bottom-20 ">
                    <ul>
                        <li class=" justify-123"> Integridade, responsabilidade, qualidade nos serviços, inovação, ética, transparência, em busca sempre da satisfação dos nossos clientes e racionalização dos custos a cada serviço prestado. </li>
                        <li class=" justify-123"> Estamos interessados para servir-vos de vosso representante junto dos serviços aduaneiros no que concerne ao desembaraço das vossas mercadorias. </li>
                        <li class=" justify-123"> Esclarecemos todas às fases necessárias com relação às legislações, para que nossos clientes atinjam suas metas.</li>
                        <li class=" justify-123"> Satisfação e comprometimento pelos “stakeholders”.</li>
                        <li class=" justify-123">Valorização e capacitação do capital humano.</li>
                        <li class=" justify-123">Propiciaremos soluções rápidas, com vitalidade e diligência.</li>

                    </ul>

                </p>
            </div>
        </section>

        <!-- SECTION 3 NOSSA EQUIPE -->


    </main>

</div>